.navbar{
    z-index: 1;
    /* background-color: #8B0000;   */
    background-color: #ffffff;
    padding-left: 0px;
}
body {
    z-index: -1; 
  }
/* .jumbotron{
    height: 300px;
} */
.first{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #ffffff;
    background-color: #ffffff;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 5px;
}
#logo{
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.containslogoimg{
    background-color: #ffffff;
    padding: 10px;
}
#logoimg{
    min-height: 250px;
    max-width: 250px;
    border-radius: 100%;
}
.white{
    color: #8B0000;
    height: 100px;
    text-align: center;
    padding-top:5px;
    margin-top: 10px;
}
.section0{
    background-color: #f3f9ff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section1{
    margin: 20px;
    padding-left: 30px;
}
.innerSection1{
    min-width: 200px;
    min-height: 400px;
    background-color: #ffffff;
    margin: 20px;
    border-style: solid;
    border-color: #f3f9ff;
    border-radius: 20px;
    color: black;
}
.second{
    min-height: 500px;
    background-color: aliceblue;
    padding: 20px;
    margin-top: 40px;
}
.innerSecond{
    background-color: #ffffff;
    color: black;
}
.last{
    margin-top: 20px;
    min-height: 300px;
    background-color: bisque;
}


/*footer*/
.col_white_amrc { color:black;}
footer { width:100%; background-color: aliceblue; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:black; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:black;}
.footer_ul_amrc li a:hover{ color:red; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid aliceblue; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding-left:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 39%
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:black; margin:0 12px;}

.social_footer_ul { display:table; margin:auto auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:black; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.text-center{
    color: #8B0000;
}

.img-fluid {
    width: 200px;
    height: 200px;
}

.donor1{
    max-width: 700px;
    height: 300px;
    border-color: none;
    /* border-radius: 100%; */
    margin: 10px;
}
.b1{
    min-width: 100px;
    text-align: center;
}
.notifications{
    text-align: center;
}
.donor2{
    max-width: 900px;
    height: 350px;
    border-color: none;
    /* border-radius: 100%; */
    margin: 10px;
}
.donor3{
    width: 900px; 
}