<div class="well">
    #if ($donor)
        <ul>
            #foreach ($donor in $donor)
                <p>Donor's name: $donor.getName()</p>
                <p>Donor ID: $donor.getId()</p>
                <p>Age: $donor.getAge()</p>
                <p>Email: $donor.getEmail()</p>
                <p>Condition: $donor.getCondition()</p>
                <p>Blood group: $donor.getGroup()</p>

             <hr>
        #end
    </ul>
#else
    <p>No Donors added!</p>
#end
</div>
<br>
<br>